
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<main class="main">
    <section class="main-top">
        <div class="content">
            <p class="page-title">@Resources.Common.lbl_linkCard_Title</p>
            <div class="pay-breadcrumbs">
                <a href="/thong-tin" class="breadcrumb waves-effect waves-light">@Resources.Account_info.btn_home</a>
            </div>
        </div>
    </section>
    <div class="dashboard">
        <section class="page-section">

            <div id="ts-parent" class="tab-slides">

                <div class="div_slide div_active" id="link_card">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-title">
                                    @Resources.Common.lbl_linkCard
                                </div>
                                <div class="card-content">
                                    <ul class="linked-cards">

                                        <li id="getlinkCard_info">

                                        </li>

                                        <li id="linkCard_btnAdd">
                                            <a href="javascript:;" onclick="linkcard.createLinkCard(this)" class="add">
                                                <i class="material-icons">add</i>
                                                <span>@Resources.Account_info.btn_addLinkCard</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <script id="getlinkCard_info_tmpl" type="text/x-jquery-tmpl">
                                        <div class="link-card credit">
                                            <div class="subfix">${ Substring_LinkCard(AssociateUsername) }</div>
                                            <div class="logo">
                                                <img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/logo-banks/STB.png" alt="">
                                            </div>
                                            <div class="name">${ AssociateFullname }</div>
                                            @*<div class="date">12/20</div>*@
                                        </div>
                                        <div class="action">
                                            <a href="javascript:;"><i class="material-icons" data-position="bottom" data-delay="0" data-tooltip="Xem chi tiết">search</i></a>
                                            <a href="javascript:;" onclick="linkcard.DeleteLinkCard('${ AssociateAccountID }')"><i class="material-icons" data-position="bottom" data-delay="0" data-tooltip="Hủy thẻ">clear</i></a>
                                        </div>
                                </script>

                                <div class="card-button">
                                    <a href="/thong-tin" class="btn btn-flat btn-primary uppercase waves-effect waves-primary"><i class="material-icons">chevron_left</i> @Resources.Payment.btn_back</a>
                                </div>
                            </div>

                            <br />
                            <div class="card hidden">
                                <div class="card-title">Chi tiết thẻ VISA - 1234</div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="link-card credit">
                                                <div class="subfix">4251</div>
                                                <div class="logo">
                                                    <img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/banks/visa.jpg" alt="">
                                                </div>
                                                <div class="name">PHAM MANH TUONG</div>
                                                <div class="date">12/20</div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <table class="table-data">
                                                <tr>
                                                    <td align="left">Loại thẻ</td>
                                                    <td align="right"><strong>Thẻ VISA</strong></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">Tên chủ thẻ</td>
                                                    <td align="right"><strong>PHAM MANH TUONG</strong></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">Số thẻ</td>
                                                    <td align="right"><strong>4450 9300 0012 5698</strong></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">Ngày hết hạn</td>
                                                    <td align="right"><strong>12/20</strong></td>
                                                </tr>
                                            </table>
                                            <table class="table-data">
                                                <tr>
                                                    <td align="left">Số tiền đã nạp</td>
                                                    <td align="right"><strong class="success">+100.000.000đ</strong></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">Số tiền đã rút</td>
                                                    <td align="right"><strong class="danger">-100.000.000đ</strong></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <ul class="collapsible popout" data-collapse-number="2" data-collapsible="accordion">
                                            <li>
                                                <div class="collapsible-header">
                                                    <div class="trans-head">
                                                        <div class="icon">
                                                            <img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/evn.jpg" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <p class="success">
                                                                <strong>+1.000.000<sup>VNĐ</sup></strong>
                                                            </p>
                                                            <p>27/06/2017</p>
                                                        </div>
                                                        <div class="content">
                                                            <p>
                                                                <strong>Nạp tiền Ví điện tử</strong>
                                                            </p>
                                                            <p>Nguồn nạp: Ngân hàng Vietcombank</p>
                                                        </div>
                                                        <i class="material-icons up">keyboard_arrow_up</i>
                                                    </div>
                                                </div>
                                                <div class="collapsible-body">
                                                    <div class="trans-body-content">
                                                        <ul class="trans-detail-lists">
                                                            <li>
                                                                <span class="label">Mã giao dịch :</span>
                                                                <span class="data">123456</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                        </ul>
                                                        <ul class="trans-detail-lists">
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="trans-body-button">
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Hủy bỏ</a>
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Thực hiện lại</a>
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Tra soát</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header">
                                                    <div class="trans-head">
                                                        <div class="icon">
                                                            <img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/evn.jpg" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <p class="success">
                                                                <strong>+1.000.000<sup>VNĐ</sup></strong>
                                                            </p>
                                                            <p>27/06/2017</p>
                                                        </div>
                                                        <div class="content">
                                                            <p>
                                                                <strong>Nạp tiền Ví điện tử</strong>
                                                            </p>
                                                            <p>Nguồn nạp: Ngân hàng Vietcombank</p>
                                                        </div>
                                                        <i class="material-icons up">keyboard_arrow_up</i>
                                                    </div>
                                                </div>
                                                <div class="collapsible-body">
                                                    <div class="trans-body-content">
                                                        <ul class="trans-detail-lists">
                                                            <li>
                                                                <span class="label">Mã giao dịch :</span>
                                                                <span class="data">123456</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                        </ul>
                                                        <ul class="trans-detail-lists">
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="trans-body-button">
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Hủy bỏ</a>
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Thực hiện lại</a>
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Tra soát</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header">
                                                    <div class="trans-head">
                                                        <div class="icon">
                                                            <img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/evn.jpg" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <p class="success">
                                                                <strong>+1.000.000<sup>VNĐ</sup></strong>
                                                            </p>
                                                            <p>27/06/2017</p>
                                                        </div>
                                                        <div class="content">
                                                            <p>
                                                                <strong>Nạp tiền Ví điện tử</strong>
                                                            </p>
                                                            <p>Nguồn nạp: Ngân hàng Vietcombank</p>
                                                        </div>
                                                        <i class="material-icons up">keyboard_arrow_up</i>
                                                    </div>
                                                </div>
                                                <div class="collapsible-body">
                                                    <div class="trans-body-content">
                                                        <ul class="trans-detail-lists">
                                                            <li>
                                                                <span class="label">Mã giao dịch :</span>
                                                                <span class="data">123456</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                        </ul>
                                                        <ul class="trans-detail-lists">
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="trans-body-button">
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Hủy bỏ</a>
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Thực hiện lại</a>
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Tra soát</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header">
                                                    <div class="trans-head">
                                                        <div class="icon">
                                                            <img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/evn.jpg" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <p class="success">
                                                                <strong>+1.000.000<sup>VNĐ</sup></strong>
                                                            </p>
                                                            <p>27/06/2017</p>
                                                        </div>
                                                        <div class="content">
                                                            <p>
                                                                <strong>Nạp tiền Ví điện tử</strong>
                                                            </p>
                                                            <p>Nguồn nạp: Ngân hàng Vietcombank</p>
                                                        </div>
                                                        <i class="material-icons up">keyboard_arrow_up</i>
                                                    </div>
                                                </div>
                                                <div class="collapsible-body">
                                                    <div class="trans-body-content">
                                                        <ul class="trans-detail-lists">
                                                            <li>
                                                                <span class="label">Mã giao dịch :</span>
                                                                <span class="data">123456</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                        </ul>
                                                        <ul class="trans-detail-lists">
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                            <li>
                                                                <span class="label">Label</span>
                                                                <span class="data">Data</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="trans-body-button">
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Hủy bỏ</a>
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Thực hiện lại</a>
                                                        <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Tra soát</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-title">
                                    @Resources.News.btn_more
                                </div>
                                <div class="card-content">
                                    <ul class="questions">
                                        <li><a href="#">Hướng dẫn gắn kết thẻ</a></li>
                                        <li><a href="#">Các loại thẻ cho phép gắn kết</a></li>
                                        <li><a href="#">Nạp tiền qua thẻ gắn kết</a></li>
                                        <li><a href="#">Thanh toán qua thẻ gắn kết</a></li>
                                        <li><a href="#">Lợi ích khi gắn kết thẻ với Pay365</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div_slide div_next" id="link_card_step1">
                    <div class="page-content" style="padding-top: 0">
                        <div class="card">
                            <div class="card-title">
                                @Resources.Cashout.String4
                                <div class="form-group input-field">
                                    <i class="material-icons subfix btn-search">search</i>
                                    <input onkeyup="topup.SearchBank('topup_bank_t');" id="search_bank" type="text" placeholder="@Resources.Cashout.String5">
                                    <span class="error-text"></span>
                                </div>
                            </div>
                            <div class="card-content">
                                <div id="topup_bank_t" class="row">

                                </div>
                                <script id="topup_bank_tmpl" type="text/x-jquery-tmpl">
                                    {{each listBank}}
                                    {{if BankCode == "STB"}}
                                    <div class="box-bank-icon">
                                        <a href="javascript:;" onclick="linkcard.createLinkCard_Step1();" data-serviceid="${$value.CushInServiceID}" data-bankname="${$value.BankName}" data-bankcode="${$value.BankCode}" data-bankinfo="${$value.BankID}#${$value.BankCode}#${$value.BankName}" class="bank-icon" title="${$value.BankCode}-${$value.BankName}"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/logo-banks/${$value.BankCode}.png" alt=""></a>
                                    </div>
                                    {{else}}
                                    <div class="box-bank-icon">
                                        <a href="javascript:;" @*onclick="topup.TopupBankDetail(this);"*@ data-serviceid="${$value.CushInServiceID}" data-bankname="${$value.BankName}" data-bankcode="${$value.BankCode}" data-bankinfo="${$value.BankID}#${$value.BankCode}#${$value.BankName}" class="bank-icon disabled" style="opacity: 0.5;" title="${$value.BankCode}-${$value.BankName}"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/logo-banks/${$value.BankCode}.png" alt=""></a>
                                    </div>
                                    {{/if}}
                                    {{/each}}
                                </script>
                            </div>
                            <div class="card-button">
                                <a href="javascript:;" onclick="linkcard.back();" class="btn btn-flat btn-primary uppercase waves-effect waves-primary"><i class="material-icons">chevron_left</i> Quay lại</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div_slide div_next" id="link_card_step2">
                    <div class="col-md-7 col-center">
                        <div class="card">
                            <div id="topup_bank_info" class="card-title">
                                <span class="bank-icon">
                                    <img alt="" src="//pay365.vn/Content/assets/images/brands/logo-banks/STB.png">
                                </span>
                                <span id="topup_bank_name">Ngân hàng TMCP Sài Gòn Thương Tín</span>
                                <input type="hidden" id="topup_bankcode" value="STB">
                            </div>
                            <div class="card-content">
                                <span id="error_linkcard" style="color: red"></span>
                                <div class="form-group input-field">
                                    <i class="material-icons prefix">credit_card</i>
                                    <input maxlength="19" id="card_number" type="text" onkeypress="return utils.checkNumeric(event);">
                                    <label for="card_number">@Resources.Topup.number_card</label>
                                    <span class="error-text"></span>
                                </div>
                                <div class="form-group input-field">
                                    <i class="material-icons prefix">person</i>
                                    <input maxlength="50" id="account_holder" class="custom-captcha" type="text" style="width: calc(100% - 3rem) !important">
                                    <label for="account_holder">@Resources.Topup.account_holder</label>
                                    <span class="error-text"></span>
                                </div>
                                @*<div class="form-group input-field">
                                    <i class="material-icons prefix">event</i>
                                    <input maxlength="5" id="month_year" id="month" class="custom-captcha" type="text" style="width: calc(100% - 3rem) !important">
                                    <label for="account_holder">MM/YY</label>
                                    <span class="error-text" id="error_month_year"></span>
                                </div>*@
                            </div>

                            <div class="card-button">
                                <a href="javascript:;" onclick="linkcard.back();" class="btn btn-flat btn-primary uppercase waves-effect waves-primary"><i class="material-icons">chevron_left</i>@Resources.Payment.btn_back</a>
                                <a href="javascript:;" id="" onclick="linkcard.createLinkCard_Step2();" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">@Resources.Payment.btn_next<i class="material-icons">chevron_right</i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div_slide div_next" id="link_card_step3">
                    <div class="col-md-7 col-center">
                        <div class="card">
                            <div class="card-title">
                                Xác nhận liên kết
                            </div>
                            <div id="topup_bank_info" class="card-title">
                                <span class="bank-icon">
                                    <img alt="" src="//pay365.vn/Content/assets/images/brands/logo-banks/STB.png">
                                </span>
                                <span id="topup_bank_name">Ngân hàng TMCP Sài Gòn Thương Tín</span>
                                <input type="hidden" id="topup_bankcode" value="STB">
                            </div>
                            <div class="card-content">
                                <div class="form-group input-field">
                                    <table class="table-data table-sm">
                                        <tbody>
                                        <tr>
                                            <td width="40%">Số thẻ:</td>
                                            <td id="lbl_cardnumber"></td>
                                        </tr>
                                        <tr>
                                            <td width="40%">Tên chủ thẻ</td>
                                            <td id="lbl_accountHolder"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="form-group input-field" id="div_Otp">
                                    <i class="material-icons prefix">lock</i>
                                    <input id="txt_secureCode" maxlength="6" data-length="6" onkeypress="utils.checkOnlyNumber(this, event);" onkeyup="utils.ChangeText(event);" type="text">
                                    <label for="txt_secureCode" class="">@Resources.Transfer.OTP</label>
                                    <span style="padding-left: 45px; padding-top: 3px" class="error-text"></span>
                                </div>
                            </div>

                            <div class="card-button">
                                <a href="javascript:;" onclick="linkcard.back();" class="btn btn-flat btn-primary uppercase waves-effect waves-primary"><i class="material-icons">chevron_left</i>@Resources.Payment.btn_back</a>
                                <a href="javascript:;" id="" onclick="linkcard.createLinkCard_Step3();" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">@Resources.Payment.btn_next<i class="material-icons">chevron_right</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<script type="text/javascript">
    $(function () {
        var cookie = utils.getCookie('LinkCard');
        if (cookie == 'true') {
            utils.loading();
            setTimeout(function () {
                utils.unLoading();
                SlideToogle("ts-parent", "next", 'link_card_step2');
                utils.setCookie('LinkCard', false);
            }, 1500);
        }
        linkcard.GetListBank(0);
        linkcard.CheckInfo_LinkCard();

        $('#txt_secureCode').keyup(function (event) {
            var keyCode = event.keyCode || event.which;
            if (keyCode == 13) {
                linkcard.createLinkCard_Step3();
            }
        });

        $('#card_number').keyup(function (event) {
            var keyCode = event.keyCode || event.which;
            if (keyCode == 13) {
                linkcard.createLinkCard_Step2();
            }
        });
        $('#account_holder').keyup(function (event) {
            var keyCode = event.keyCode || event.which;
            if (keyCode == 13) {
                linkcard.createLinkCard_Step2();
            }
        });

        //$('#month_year').keypress(function (e) {
        //    $('#error_month_year').text("");
        //    var keyCode = (window.event) ? e.keyCode : e.which;
        //    if ((keyCode >= 48 && keyCode <= 57) || keyCode === 8) {
        //    } else {
        //        return;
        //    }
        //    var value = this.value;
        //    if (value.length == 2) {
        //        $('#month_year').val(value + "/");
        //    } else if (value.length > 3) {
        //        value = value.replace(/[/]/g, '');
        //        var s1 = value.substring(0, 2);
        //        if (s1 < 0 || s1 > 12) {
        //            $('#error_month_year').text("Tháng không hợp lệ");
        //        }
        //        var s2 = value.substring(2, 4);
        //        var s = s1 + "/" + s2;
        //        $('#month_year').val(s);
        //    } else {
        //        return;
        //    }
        //});
    });
</script>