
<section class="main-top">
    <div class="content">
        <p class="page-title">Thanh toán hóa đơn</p>
        <div class="pay-breadcrumbs">
            <a href="#!" class="breadcrumb waves-effect waves-light">Trang chủ</a>
            <a href="#!" class="breadcrumb waves-effect waves-light">Thanh toán hóa đơn</a>
        </div>
    </div>
</section>
<div class="dashboard">
<section class="page-section">
						
<div class="row">
<div class="col-lg-7">
    <div class="card">
        <div class="card-title">
            <span class="bank-icon">
                <img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/viettel.jpg" alt="">
            </span>
            <span>Viettel Internet</span>
        </div>
        <div class="card-content">
            <div class="form-group input-field input-dropdown">
                <i class="material-icons prefix">person_pin</i>
											
                <div class="input-dropdown-content">
                    <a class='dropdown-button dropdown-input' href='#' data-activates='dropdown-input-1'><i class="material-icons">keyboard_arrow_down</i></a>
                    <ul id='dropdown-input-1' class='dropdown-content'>
                        <li><a href="#!">Example</a></li>
                        <li><a href="#!">Example</a></li>
                        <li><a href="#!">Example</a></li>
                        <li><a href="#!">Example</a></li>
                        <li><a href="#!">Example</a></li>
                    </ul>
                </div>

                <input id="input--2" type="text">
                <label for="input--2">Mã khách hàng</label>
                <span class="error-text"></span>

            </div>
        </div>
        <div class="card-button">
            <a href="/thanh-toan-hoa-don" class="btn btn-flat btn-primary uppercase waves-effect waves-primary"><i class="material-icons">chevron_left</i> Quay lại</a>
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Tiếp theo <i class="material-icons">chevron_right</i></a>
        </div>
    </div>
    <div class="card">
        <div class="card-title">Hướng dẫn lấy mã hóa đơn</div>
        <div class="card-content">
            Hướng dẫn bằng hình ảnh
        </div>
    </div>
</div>
<div class="col-lg-5">
<div class="card">
<div class="card-title" style="padding-bottom: 15px; padding-top: 35px">
    Giao dịch gần đây
    <a href="#!" class="more waves-effect waves-primary"><i class="material-icons">keyboard_arrow_right</i></a>
</div>
<ul class="collapsible popout warning" data-collapse-number="1" data-collapsible="accordion">
<li>
    <div class="collapsible-header">
        <div class="trans-head">
            <div class="icon"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/evn.jpg" alt=""></div>
            <div class="info">
                <p class="success"><strong>+1.000.000<sup>VNĐ</sup></strong></p>
                <p>27/06/2017</p>
            </div>
            <div class="content">
                <p><strong>Nạp tiền Ví điện tử</strong></p>
                <p>Nguồn nạp: Ngân hàng Vietcombank</p>
            </div>
            <i class="material-icons up">keyboard_arrow_up</i>
        </div>
    </div>
    <div class="collapsible-body">
        <div class="trans-body-content">
            <ul class="trans-detail-lists">
                <li>
                    <span class="label">Mã giao dịch :</span>
                    <span class="data">123456</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
            </ul>
            <ul class="trans-detail-lists">
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
            </ul>
        </div>
        <div class="trans-body-button">
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Hủy bỏ</a>
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Thực hiện lại</a>
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Tra soát</a>
        </div>
    </div>
</li><li>
    <div class="collapsible-header">
        <div class="trans-head">
            <div class="icon"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/evn.jpg" alt=""></div>
            <div class="info">
                <p class="success"><strong>+1.000.000<sup>VNĐ</sup></strong></p>
                <p>27/06/2017</p>
            </div>
            <div class="content">
                <p><strong>Nạp tiền Ví điện tử</strong></p>
                <p>Nguồn nạp: Ngân hàng Vietcombank</p>
            </div>
            <i class="material-icons up">keyboard_arrow_up</i>
        </div>
    </div>
    <div class="collapsible-body">
        <div class="trans-body-content">
            <ul class="trans-detail-lists">
                <li>
                    <span class="label">Mã giao dịch :</span>
                    <span class="data">123456</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
            </ul>
            <ul class="trans-detail-lists">
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
            </ul>
        </div>
        <div class="trans-body-button">
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Hủy bỏ</a>
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Thực hiện lại</a>
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Tra soát</a>
        </div>
    </div>
</li><li>
    <div class="collapsible-header">
        <div class="trans-head">
            <div class="icon"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/evn.jpg" alt=""></div>
            <div class="info">
                <p class="success"><strong>+1.000.000<sup>VNĐ</sup></strong></p>
                <p>27/06/2017</p>
            </div>
            <div class="content">
                <p><strong>Nạp tiền Ví điện tử</strong></p>
                <p>Nguồn nạp: Ngân hàng Vietcombank</p>
            </div>
            <i class="material-icons up">keyboard_arrow_up</i>
        </div>
    </div>
    <div class="collapsible-body">
        <div class="trans-body-content">
            <ul class="trans-detail-lists">
                <li>
                    <span class="label">Mã giao dịch :</span>
                    <span class="data">123456</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
            </ul>
            <ul class="trans-detail-lists">
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
            </ul>
        </div>
        <div class="trans-body-button">
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Hủy bỏ</a>
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Thực hiện lại</a>
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Tra soát</a>
        </div>
    </div>
</li><li>
    <div class="collapsible-header">
        <div class="trans-head">
            <div class="icon"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/evn.jpg" alt=""></div>
            <div class="info">
                <p class="success"><strong>+1.000.000<sup>VNĐ</sup></strong></p>
                <p>27/06/2017</p>
            </div>
            <div class="content">
                <p><strong>Nạp tiền Ví điện tử</strong></p>
                <p>Nguồn nạp: Ngân hàng Vietcombank</p>
            </div>
            <i class="material-icons up">keyboard_arrow_up</i>
        </div>
    </div>
    <div class="collapsible-body">
        <div class="trans-body-content">
            <ul class="trans-detail-lists">
                <li>
                    <span class="label">Mã giao dịch :</span>
                    <span class="data">123456</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
            </ul>
            <ul class="trans-detail-lists">
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
                <li>
                    <span class="label">Label</span>
                    <span class="data">Data</span>
                </li>
            </ul>
        </div>
        <div class="trans-body-button">
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Hủy bỏ</a>
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Thực hiện lại</a>
            <a href="#!" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">Tra soát</a>
        </div>
    </div>
</li>
</ul>
</div>
</div>
</div>
										
</section>
</div>


<script type="text/javascript">
    function Payment_Bill() {

    }

    function Back_ToPayment() {
        
    }
</script>