@{
    ViewBag.Title = Resources.Common.viewbag_cashout;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@if (ViewBag.CurrentLang == "en")
{
    <main class="main" id="main_cashout">
    <section class="main-top">
        <div class="content">
            <p class="page-title">@Resources.Cashout.String1</p>
            <div class="pay-breadcrumbs">
                <a href="@Html.Raw(Pay365.Utils.Config.Domain)thong-tin" class="breadcrumb waves-effect waves-light">@Resources.Cashout.String2</a>
                <a href="@Html.Raw(Pay365.Utils.Config.Domain)cashout" class="breadcrumb waves-effect waves-light">@Resources.Cashout.String1</a>
            </div>
        </div>
    </section>
    <div id="cashout_content" class="dashboard">
    <section class="page-section">
    <div id="ts-parent" class="tab-slides">
    <div class="div_slide div_active" id="listBankSelect">
        <div id="formBankRecent" class="card">
            <div class="card-title">@Resources.Cashout.String3</div>
            <div class="card-content">

                <div id="cashout_bank_recent_t" class="row">

                </div>
                <script id="cashout_bank_recent_tmpl" type="text/x-jquery-tmpl">
                    {{each listBankRecent}}
                    <div class="box-bank-icon">
                        <a href="javascript:;" onclick="cashout.CashoutBankDetailRecent(this);" data-serviceid="${$value.JsonObject.ServiceID}" data-bankcode="${$value.JsonObject.BankCode}" class="bank-icon" title="${$value.JsonObject.BankCode}"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/logo-banks/${$value.JsonObject.BankCode}.png" alt=""></a>
                    </div>
                    {{/each}}
                </script>
            </div>
        </div>
        <div class="page-content" style="padding-top: 0;">
            <div class="card">
                <div class="card-title">
                    @Resources.Cashout.String21
                    @*<div class="form-group input-field">
                                        <i class="material-icons subfix btn-search">search</i>
                                        <input onkeyup="topup.SearchBank('cashout_bank_t');" id="search_bank" type="text" placeholder="@Resources.Cashout.String5">
                                        <span class="error-text"></span>
                                    </div>*@
                </div>
                <div class="card-content">
                    <div id="cashout_bank_online_t" class="row"></div>
                    <script id="cashout_bank_online_tmpl" type="text/x-jquery-tmpl">
                        {{each listBank}}
                        <div class="box-bank-icon">
                            <a href="javascript:;" onclick="cashout.CashoutBankDetail(this, 'online');" data-serviceid="${$value.CushInServiceID}" data-bankname="${$value.BankName}" data-bankcode="${$value.BankCode}" data-bankinfo="${$value.BankID}#${$value.BankCode}#${$value.BankName}" class="bank-icon" title="${$value.BankCode}-${$value.BankName}"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/logo-banks/${$value.BankCode}.png" alt=""></a>
                        </div>
                        {{/each}}
                    </script>
                </div>
            </div>

            <div class="card">
                <div class="card-title">
                    @Resources.Cashout.String32
                    <div class="form-group input-field">
                        <i class="material-icons subfix btn-search">search</i>
                        <input onkeyup="topup.SearchBank('cashout_bank_t');" id="search_bank" type="text" placeholder="@Resources.Cashout.String5">
                        <span class="error-text"></span>
                    </div>
                </div>
                <div class="card-content">
                    <div id="cashout_bank_t" class="row"></div>
                    <script id="cashout_bank_tmpl" type="text/x-jquery-tmpl">
                        {{each listBank}}
                        <div class="box-bank-icon">
                            <a href="javascript:;" onclick="cashout.CashoutBankDetail(this, 'offline');" data-serviceid="${$value.CushInServiceID}" data-bankname="${$value.BankName}" data-bankcode="${$value.BankCode}" data-bankinfo="${$value.BankID}#${$value.BankCode}#${$value.BankName}" class="bank-icon" title="${$value.BankCode}-${$value.BankName}"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/logo-banks/${$value.BankCode}.png" alt=""></a>
                        </div>
                        {{/each}}
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="div_slide div_next" id="cashoutDetail">
    <div id="formCashoutMain" class="col-md-7">
    <div class="card">
    <div id="cashout_bank_info" class="card-title">
        <span class="bank-icon">
            <img alt="">
        </span>
        <span id="cashout_bank_name"></span>
        <input type="hidden" id="cashout_bankcode"/>
    </div>
    <input type="hidden" id="cashout_bank_serviceid"/>

    <div id="select_cashout_type" class="form-data" style="padding-left: 1.3rem; padding-top: 1rem;">
        <span class="input-radio">
            <input id="i_cashout_card" value="i_cashout_card" name="g_cashout_type" class="with-gap" type="radio" checked="checked">
            <label for="i_cashout_card">@Resources.Cashout.String7</label>
        </span>
        <span class="input-radio">
            <input id="i_cashout_account" value="i_cashout_account" name="g_cashout_type" class="with-gap" type="radio">
            <label for="i_cashout_account">@Resources.Cashout.String6</label>
        </span>
        <span class="input-radio">
            <input id="i_cashout_linkedbank" value="i_cashout_linkedbank" name="g_cashout_type" class="with-gap" type="radio">
            <label for="i_cashout_linkedbank">@Resources.Cashout.String36</label>
        </span>
    </div>

    <div id="ts-child" class="tab-slides">
    <div id="cashoutStep1" class="div_slide div_active">
        <div id="cashout_offline_content" class="card-content">
            <div class="form-group input-field input-dropdown">
                <i class="material-icons prefix">credit_card</i>
                <div class="input-dropdown-content">
                    <a class='dropdown-button dropdown-input' href='javascript:;' data-activates='dl_bank_off'><i class="material-icons">keyboard_arrow_down</i></a>
                    <ul id='dl_bank_off' class='dropdown-content'></ul>
                </div>
                <input autocomplete="off" maxlength="20" id="bank_account" type="text">
                <label for="bank_account">@Resources.Cashout.String8</label>
                <span class="error-text"></span>
            </div>
            <div class="form-group input-field">
                <i class="material-icons prefix">person</i>
                <input autocomplete="off" maxlength="50" onblur="CharacterOnly(this);" id="bank_account_holder" class="custom-captcha" type="text" style="width: calc(100% - 3rem) !important">
                <label for="bank_account_holder">@Resources.Cashout.String9</label>
                <span class="error-text"></span>
            </div>
            <div class="form-group input-field">
                <i class="material-icons prefix">account_balance</i>
                <input autocomplete="off" maxlength="50" id="bank_brand" type="text">
                <label for="bank_brand">@Resources.Cashout.String10</label>
                <span class="error-text"></span>
            </div>

            <div class="form-group input-field">
                <i class="material-icons prefix">monetization_on</i>
                <input maxlength="20" class="amount-focus" onblur="cashout.CalculateTotalAmount('cashout_offline_content');" id="cashout_amount" onkeypress="return utils.checkNumeric(event);" onkeyup="utils.formatCurrency(this, event);" type="text" class="autocomplete">
                <label for="cashout_amount">@Resources.Cashout.String11</label>
                <span class="error-text"></span>
            </div>
            <div class="form-group">
                <div id="fast_cashout" data-method="off" class="prices">
                    <a href="javascript:;" data-amount="50000" class="price-flat">50.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="100000" class="price-flat">100.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="200000" class="price-flat">200.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="500000" class="price-flat">500.000<sup>VNĐ</sup></a>
                </div>
            </div>

            <div class="form-group input-field">
                <i class="material-icons prefix">comment</i>
                <textarea maxlength="100" onblur="CharacterOnly(this);" id="txt_reason" class="materialize-textarea" style="height: 45px;"></textarea>
                <label for="txt_reason" class="">@Resources.Cashout.String12</label>
                <span style="padding-top: 3px" class="error-text"></span>
            </div>

            <div class="form-group input-field captcha">
                <i class="material-icons prefix"></i>
                <input class="custom-captcha captcha-focus" maxlength="4" autocomplete="off" id="cashout_captcha" type="text">
                <label for="cashout_captcha">@Resources.Cashout.String13</label>
                <input id="inputToken" type="hidden"/>
                <div class="captcha-image">
                    <img id="imgCaptcha" width="100" height="35">
                    <i onclick="utils.refreshCaptcha('cashout_offline_content', 'payment');" class="btn-reload material-icons">refresh</i>
                </div>
                <span class="error-text" style="float: left;"></span>
            </div>
            <div class="form-group">
                <div class="row padding-left-row">
                    <input type="checkbox" id="save_bank_off">
                    <label for="save_bank_off">@Resources.Cashout.String14</label>
                </div>
            </div>
            <div class="input-field">
                <div class="row padding-left-row">
                    <span class="label label-danger">@Resources.Cashout.String15: <span id="cashout_fee_rate">0đ</span></span>
                </div>
            </div>

            <div class="input-field">
                <div class="row padding-left-row">
                    <div class="col-sm-6">
                        @Resources.Cashout.String16: <strong class="primary" id="cashout_total_amount">0đ</strong>
                    </div>
                </div>
            </div>

        </div>

        <div id="cashout_online_content" class="card-content">
            <div class="form-group input-field input-dropdown">
                <i class="material-icons prefix">credit_card</i>
                <div class="input-dropdown-content">
                    <a class='dropdown-button dropdown-input' href='javascript:;' data-activates='dl_bank_on'><i class="material-icons">keyboard_arrow_down</i></a>
                    <ul id='dl_bank_on' class='dropdown-content'></ul>
                </div>
                <input autocomplete="off" maxlength="20" id="bank_account" onblur="cashout.CheckBankAccount(this);" onkeypress="return utils.checkNumeric(event);" onkeyup="utils.bankCardFormat(this, event);" type="text">
                <label for="bank_account">@Resources.Cashout.String17</label>
                <span class="error-text"></span>
                <span id="cashout_bankaccount_name" class="charge-name" style="font-size: 0.85rem; right: 2rem"></span>
            </div>
            <div class="form-group input-field">
                <i class="material-icons prefix">monetization_on</i>
                <input maxlength="20" class="amount-focus" onblur="cashout.CalculateTotalAmount('cashout_online_content');" id="cashout_amount" onkeypress="return utils.checkNumeric(event);" onkeyup="utils.formatCurrency(this, event);" type="text" class="autocomplete">
                <label for="cashout_amount">@Resources.Cashout.String11</label>
                <span class="error-text"></span>

            </div>
            <div class="form-group">
                <div id="fast_cashout" data-method="onl" class="prices">
                    <a href="javascript:;" data-amount="50000" class="price-flat">50.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="100000" class="price-flat">100.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="200000" class="price-flat">200.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="500000" class="price-flat">500.000<sup>VNĐ</sup></a>
                </div>
            </div>

            <div class="form-group input-field">
                <i class="material-icons prefix">comment</i>
                <textarea maxlength="100" id="txt_reason" onblur="CharacterOnly(this);" class="materialize-textarea" style="height: 45px;"></textarea>
                <label for="txt_reason">@Resources.Cashout.String12</label>
                <span style="padding-top: 3px" class="error-text"></span>
            </div>

            <div class="form-group input-field captcha">
                <i class="material-icons prefix"></i>
                <input class="custom-captcha captcha-focus" maxlength="4" id="cashout_captcha" type="text">
                <label for="cashout_captcha">@Resources.Cashout.String13</label>
                <input id="inputToken" type="hidden"/>
                <div class="captcha-image">
                    <img id="imgCaptcha" width="100" height="35">
                    <i onclick="utils.refreshCaptcha('cashout_online_content', 'payment');" class="btn-reload material-icons">refresh</i>
                </div>
                <span class="error-text" style="float: left;"></span>
            </div>

            <div class="form-group">
                <div class="row padding-left-row">
                    <input type="checkbox" id="save_bank_on">
                    <label for="save_bank_on">@Resources.Cashout.String14</label>
                </div>
            </div>

            <div class="input-field">
                <div class="row padding-left-row">
                    <span class="label label-danger">@Resources.Cashout.String15: <span id="cashout_fee_rate">0đ</span></span>
                </div>
            </div>

            <div class="input-field">
                <div class="row padding-left-row">
                    <div class="col-sm-6">
                        @Resources.Cashout.String16: <strong class="primary" id="cashout_total_amount">0đ</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-button">
            <a href="javascript:;" tabindex="-1" onclick="cashout.BackStep(0);" class="btn btn-flat btn-primary uppercase waves-effect waves-primary"><i class="material-icons">chevron_left</i> @Resources.Cashout.String29</a>
            <a id="btConfirmStep1" onclick="cashout.ConfirmCashout(this);" href="javascript:;" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">@Resources.Cashout.String18<i class="material-icons">chevron_right</i></a>
        </div>
    </div>

    <div id="cashoutStep2" class="div_slide div_next">
        <div class="card-content">
            <div class="form-group input-field">
                <table class="table-data">
                    <tr>
                        <td width="40%">@Resources.Cashout.String19:</td>
                        <td id="bank_account_2"></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String20:</td>
                        <td id="bank_account_holder_2"></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String10:</td>
                        <td id="bank_brand_2"></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String12:</td>
                        <td id="reason_2"></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String22:</td>
                        <td><span id="amount_2" class=""></span></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String23:</td>
                        <td><span id="fee_2" class=""></span></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String24:</td>
                        <td><span id="total_amount_2" class=""></span></td>
                    </tr>
                </table>
            </div>
            <p id="p1_securecode" style="margin-left: 5px;"></p>
            <div class="form-group input-field">
                <i class="material-icons prefix">sms</i>
                <a id="resend_secure_code" onclick="transaction_history.ResendOTPEmail(this);" href="javascript:;" class="secondary btn-input-right waves-effect waves-light">@Resources.Cashout.String25</a>
                <input maxlength="6" id="otp_2" class="otp-focus" onkeypress="utils.forceNumber(this, event);" type="text">
                <label for="otp_2">@Resources.Account_info.lbl_otp</label>
                <span class="error-text"></span>
            </div>
            @*<p id="p2_securecode" style="margin-left: 5px; display: none;">@Resources.Cashout.String26: <span class="secondary">P365 OTP @Resources.Cashout.String27 8100</span>&nbsp;@Resources.Cashout.String28</p>*@
        </div>

        <div class="card-button">
            <a href="javascript:;" tabindex="-1" onclick="cashout.BackStep(1);" class="btn btn-flat btn-primary uppercase waves-effect waves-primary"><i class="material-icons">chevron_left</i> @Resources.Cashout.String29</a>
            <a href="javascript:;" id="btConfirmStep2" onclick="cashout.ConfirmCashoutStep2(this);" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">@Resources.Cashout.String18<i class="material-icons">chevron_right</i></a>
        </div>
    </div>
    </div>

    </div>
    </div>
    <div id="formCashoutRecent" class="col-md-5">
        <div class="card">
            <div class="card-title" style="padding-bottom: 15px; padding-top: 35px">
                @Resources.Cashout.String30
                <a href="@Html.Raw(Pay365.Utils.Config.Domain)history" class="more waves-effect waves-primary"><i class="material-icons">keyboard_arrow_right</i></a>
            </div>
            <ul id="cashout_log_recent_t" class="collapsible-custom popout warning" data-collapse-number="1" data-collapsible="accordion"></ul>
            <script id="cashout_log_recent_tmpl" type="text/x-jquery-tmpl">
                {{each listBankRecent}}
                <li>
                    <div class="collapsible-header">
                        <div class="trans-head">
                            <div class="icon" style="line-height: initial;"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/icons/nap-tien.svg" alt="">
                            </div>
                            <div class="info">
                                <p class="success"><strong>${utils.formatMoney($value.JsonObject.Amount)}<sup>VNĐ</sup></strong>
                                </p>
                                <p>${utils.formDateTime($value.JsonObject.CreateTime)}</p>
                            </div>
                            <div class="content">
                                <p>
                                    <strong>
                                        {{if ($value.JsonObject.ServiceID == 8)}}
                                        @Resources.Cashout.String34
                                        {{else}}
                                        @Resources.Cashout.String35
                                        {{/if}}
                                    </strong>
                                </p>
                                <p>@Resources.Cashout.String31: ${common.getbankName($value.JsonObject.BankCode)}</p>
                            </div>
                            <i class="material-icons up">keyboard_arrow_up</i>
                        </div>
                    </div>
                </li>
                {{/each}}
            </script>
        </div>
    </div>

    </div>
    </div>


    </section>
    </div>
    </main>
}
else
{
    <main class="main" id="main_cashout">
    <section class="main-top">
        <div class="content">
            <p class="page-title">@Resources.Cashout.String1</p>
            <div class="pay-breadcrumbs">
                <a href="@Html.Raw(Pay365.Utils.Config.Domain)thong-tin" class="breadcrumb waves-effect waves-light">@Resources.Cashout.String2</a>
                <a href="@Html.Raw(Pay365.Utils.Config.Domain)rut-tien" class="breadcrumb waves-effect waves-light">@Resources.Cashout.String1</a>
            </div>
        </div>
    </section>
    <div id="cashout_content" class="dashboard">
    <section class="page-section">
    <div id="ts-parent" class="tab-slides">
    <div class="div_slide div_active" id="listBankSelect">
        <div id="formBankRecent" class="card">
            <div class="card-title">@Resources.Cashout.String3</div>
            <div class="card-content">

                <div id="cashout_bank_recent_t" class="row">

                </div>
                <script id="cashout_bank_recent_tmpl" type="text/x-jquery-tmpl">
                    {{each listBankRecent}}
                    <div class="box-bank-icon">
                        <a href="javascript:;" onclick="cashout.CashoutBankDetailRecent(this);" data-serviceid="${$value.JsonObject.ServiceID}" data-bankcode="${$value.JsonObject.BankCode}" class="bank-icon" title="${$value.JsonObject.BankCode}"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/logo-banks/${$value.JsonObject.BankCode}.png" alt=""></a>
                    </div>
                    {{/each}}
                </script>
            </div>
        </div>
        <div class="page-content" style="padding-top: 0;">
            <div class="card">
                <div class="card-title">
                    @Resources.Cashout.String21
                    @*<div class="form-group input-field">
                                        <i class="material-icons subfix btn-search">search</i>
                                        <input onkeyup="topup.SearchBank('cashout_bank_t');" id="search_bank" type="text" placeholder="@Resources.Cashout.String5">
                                        <span class="error-text"></span>
                                    </div>*@
                </div>
                <div class="card-content">
                    <div id="cashout_bank_online_t" class="row"></div>
                    <script id="cashout_bank_online_tmpl" type="text/x-jquery-tmpl">
                        {{each listBank}}
                        <div class="box-bank-icon">
                            <a href="javascript:;" onclick="cashout.CashoutBankDetail(this, 'online');" data-serviceid="${$value.CushInServiceID}" data-bankname="${$value.BankName}" data-bankcode="${$value.BankCode}" data-bankinfo="${$value.BankID}#${$value.BankCode}#${$value.BankName}" class="bank-icon" title="${$value.BankCode}-${$value.BankName}"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/logo-banks/${$value.BankCode}.png" alt=""></a>
                        </div>
                        {{/each}}
                    </script>
                </div>
            </div>

            <div class="card">
                <div class="card-title">
                    @Resources.Cashout.String32
                    <div class="form-group input-field">
                        <i class="material-icons subfix btn-search">search</i>
                        <input onkeyup="topup.SearchBank('cashout_bank_t');" id="search_bank" type="text" placeholder="@Resources.Cashout.String5">
                        <span class="error-text"></span>
                    </div>
                </div>
                <div class="card-content">
                    <div id="cashout_bank_t" class="row"></div>
                    <script id="cashout_bank_tmpl" type="text/x-jquery-tmpl">
                        {{each listBank}}
                        <div class="box-bank-icon">
                            <a href="javascript:;" onclick="cashout.CashoutBankDetail(this, 'offline');" data-serviceid="${$value.CushInServiceID}" data-bankname="${$value.BankName}" data-bankcode="${$value.BankCode}" data-bankinfo="${$value.BankID}#${$value.BankCode}#${$value.BankName}" class="bank-icon" title="${$value.BankCode}-${$value.BankName}"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/brands/logo-banks/${$value.BankCode}.png" alt=""></a>
                        </div>
                        {{/each}}
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="div_slide div_next" id="cashoutDetail">
    <div id="formCashoutMain" class="col-md-7">
    <div class="card">
    <div id="cashout_bank_info" class="card-title">
        <span class="bank-icon">
            <img alt="">
        </span>
        <span id="cashout_bank_name"></span>
        <input type="hidden" id="cashout_bankcode" />
    </div>
    <input type="hidden" id="cashout_bank_serviceid" />

    <div id="select_cashout_type" class="form-data" style="padding-left: 1.3rem; padding-top: 1rem;">
        <span class="input-radio">
            <input id="i_cashout_card" value="i_cashout_card" name="g_cashout_type" class="with-gap" type="radio" checked="checked">
            <label for="i_cashout_card">@Resources.Cashout.String7</label>
        </span>
        <span class="input-radio">
            <input id="i_cashout_account" value="i_cashout_account" name="g_cashout_type" class="with-gap" type="radio">
            <label for="i_cashout_account">@Resources.Cashout.String6</label>
        </span>
        <span class="input-radio">
            <input id="i_cashout_linkedbank" value="i_cashout_linkedbank" name="g_cashout_type" class="with-gap" type="radio">
            <label for="i_cashout_linkedbank">@Resources.Cashout.String36</label>
        </span>
    </div>

    <div id="ts-child" class="tab-slides">
    <div id="cashoutStep1" class="div_slide div_active">
        <div id="cashout_offline_content" class="card-content">
            <div class="form-group input-field input-dropdown">
                <i class="material-icons prefix">credit_card</i>
                <div class="input-dropdown-content">
                    <a class='dropdown-button dropdown-input' href='javascript:;' data-activates='dl_bank_off'><i class="material-icons">keyboard_arrow_down</i></a>
                    <ul id='dl_bank_off' class='dropdown-content'></ul>
                </div>
                <input autocomplete="off" maxlength="20" id="bank_account" type="text">
                <label for="bank_account">@Resources.Cashout.String8</label>
                <span class="error-text"></span>
            </div>
            <div class="form-group input-field">
                <i class="material-icons prefix">person</i>
                <input autocomplete="off" maxlength="50" onblur="CharacterOnly(this);" id="bank_account_holder" class="custom-captcha" type="text" style="width: calc(100% - 3rem) !important">
                <label for="bank_account_holder">@Resources.Cashout.String9</label>
                <span class="error-text"></span>
            </div>
            <div class="form-group input-field">
                <i class="material-icons prefix">account_balance</i>
                <input autocomplete="off" maxlength="50" id="bank_brand" type="text">
                <label for="bank_brand">@Resources.Cashout.String10</label>
                <span class="error-text"></span>
            </div>

            <div class="form-group input-field">
                <i class="material-icons prefix">monetization_on</i>
                <input maxlength="20" onblur="cashout.CalculateTotalAmount('cashout_offline_content');" id="cashout_amount" onkeypress="return utils.checkNumeric(event);" onkeyup="utils.formatCurrency(this, event);" type="text" class="autocomplete">
                <label for="cashout_amount">@Resources.Cashout.String11</label>
                <span class="error-text"></span>
            </div>
            <div class="form-group">
                <div id="fast_cashout" data-method="off" class="prices">
                    <a href="javascript:;" data-amount="50000" class="price-flat">50.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="100000" class="price-flat">100.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="200000" class="price-flat">200.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="500000" class="price-flat">500.000<sup>VNĐ</sup></a>
                </div>
            </div>

            <div class="form-group input-field">
                <i class="material-icons prefix">comment</i>
                <textarea maxlength="100" onblur="CharacterOnly(this);" id="txt_reason" class="materialize-textarea" style="height: 45px;"></textarea>
                <label for="txt_reason" class="">@Resources.Cashout.String12</label>
                <span style="padding-top: 3px" class="error-text"></span>
            </div>

            <div class="form-group input-field captcha">
                <i class="material-icons prefix"></i>
                <input class="custom-captcha captcha-focus" maxlength="4" autocomplete="off" id="cashout_captcha" type="text">
                <label for="cashout_captcha">@Resources.Cashout.String13</label>
                <input id="inputToken" type="hidden" />
                <div class="captcha-image">
                    <img id="imgCaptcha" width="100" height="35">
                    <i onclick="utils.refreshCaptcha('cashout_offline_content', 'payment');" class="btn-reload material-icons">refresh</i>
                </div>
                <span class="error-text" style="float: left;"></span>
            </div>
            <div class="form-group">
                <div class="row padding-left-row">
                    <input type="checkbox" id="save_bank_off">
                    <label for="save_bank_off">@Resources.Cashout.String14</label>
                </div>
            </div>
            <div class="input-field">
                <div class="row padding-left-row">
                    <span class="label label-danger">@Resources.Cashout.String15: <span id="cashout_fee_rate">0đ</span></span>
                </div>
            </div>

            <div class="input-field">
                <div class="row padding-left-row">
                    <div class="col-sm-6">
                        @Resources.Cashout.String16: <strong class="primary" id="cashout_total_amount">0đ</strong>
                    </div>
                </div>
            </div>

        </div>
                                    
        <div id="cashout_online_content" class="card-content">
            <div class="form-group input-field input-dropdown">
                <i class="material-icons prefix">credit_card</i>
                <div class="input-dropdown-content">
                    <a class='dropdown-button dropdown-input' href='javascript:;' data-activates='dl_bank_on'><i class="material-icons">keyboard_arrow_down</i></a>
                    <ul id='dl_bank_on' class='dropdown-content'></ul>
                </div>
                <input autocomplete="off" maxlength="20" id="bank_account" onblur="cashout.CheckBankAccount(this);" onkeypress="return utils.checkNumeric(event);" onkeyup="utils.bankCardFormat(this, event);" type="text">
                <label for="bank_account">@Resources.Cashout.String17</label>
                <span class="error-text"></span>
                <span id="cashout_bankaccount_name" class="charge-name" style="font-size: 0.85rem; right: 2rem"></span>
            </div>
            <div class="form-group input-field">
                <i class="material-icons prefix">monetization_on</i>
                <input maxlength="20" onblur="cashout.CalculateTotalAmount('cashout_online_content');" id="cashout_amount" onkeypress="return utils.checkNumeric(event);" onkeyup="utils.formatCurrency(this, event);" type="text" class="autocomplete">
                <label for="cashout_amount">@Resources.Cashout.String11</label>
                <span class="error-text"></span>

            </div>
            <div class="form-group">
                <div id="fast_cashout" data-method="onl" class="prices">
                    <a href="javascript:;" data-amount="50000" class="price-flat">50.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="100000" class="price-flat">100.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="200000" class="price-flat">200.000<sup>VNĐ</sup></a>
                    <a href="javascript:;" data-amount="500000" class="price-flat">500.000<sup>VNĐ</sup></a>
                </div>
            </div>

            <div class="form-group input-field">
                <i class="material-icons prefix">comment</i>
                <textarea maxlength="100" id="txt_reason" onblur="CharacterOnly(this);" class="materialize-textarea" style="height: 45px;"></textarea>
                <label for="txt_reason">@Resources.Cashout.String12</label>
                <span style="padding-top: 3px" class="error-text"></span>
            </div>

            <div class="form-group input-field captcha">
                <i class="material-icons prefix"></i>
                <input class="custom-captcha captcha-focus" maxlength="4" id="cashout_captcha" type="text">
                <label for="cashout_captcha">@Resources.Cashout.String13</label>
                <input id="inputToken" type="hidden" />
                <div class="captcha-image">
                    <img id="imgCaptcha" width="100" height="35">
                    <i onclick="utils.refreshCaptcha('cashout_online_content', 'payment');" class="btn-reload material-icons">refresh</i>
                </div>
                <span class="error-text" style="float: left;"></span>
            </div>

            <div class="form-group">
                <div class="row padding-left-row">
                    <input type="checkbox" id="save_bank_on">
                    <label for="save_bank_on">@Resources.Cashout.String14</label>
                </div>
            </div>

            <div class="input-field">
                <div class="row padding-left-row">
                    <span class="label label-danger">@Resources.Cashout.String15: <span id="cashout_fee_rate">0đ</span></span>
                </div>
            </div>

            <div class="input-field">
                <div class="row padding-left-row">
                    <div class="col-sm-6">
                        @Resources.Cashout.String16: <strong class="primary" id="cashout_total_amount">0đ</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-button">
            <a href="javascript:;" onclick="cashout.BackStep(0);" class="btn btn-flat btn-primary uppercase waves-effect waves-primary"><i class="material-icons">chevron_left</i> @Resources.Cashout.String29</a>
            <a id="btConfirmStep1" onclick="cashout.ConfirmCashout(this);" href="javascript:;" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">@Resources.Cashout.String18<i class="material-icons">chevron_right</i></a>
        </div>
    </div>

    <div id="cashoutStep2" class="div_slide div_next">
        <div class="card-content">
            <div class="form-group input-field">
                <table class="table-data">
                    <tr>
                        <td width="40%">@Resources.Cashout.String19:</td>
                        <td id="bank_account_2"></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String20:</td>
                        <td id="bank_account_holder_2"></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String10:</td>
                        <td id="bank_brand_2"></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String12:</td>
                        <td id="reason_2"></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String22:</td>
                        <td><span id="amount_2" class=""></span></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String23:</td>
                        <td><span id="fee_2" class=""></span></td>
                    </tr>
                    <tr>
                        <td width="40%">@Resources.Cashout.String24:</td>
                        <td><span id="total_amount_2" class=""></span></td>
                    </tr>
                </table>
            </div>
            <p id="p1_securecode" style="margin-left: 5px;"></p>
            <div class="form-group input-field">
                <i class="material-icons prefix">sms</i>
                <a id="resend_secure_code" onclick="transaction_history.ResendOTPEmail(this);" href="javascript:;" class="secondary btn-input-right waves-effect waves-light">@Resources.Cashout.String25</a>
                <input maxlength="6" id="otp_2" class="otp-focus" onkeypress="utils.forceNumber(this, event);" type="text">
                <label for="otp_2">@Resources.Account_info.lbl_otp</label>
                <span class="error-text"></span>
            </div>
            @*<p id="p2_securecode" style="margin-left: 5px; display: none;">@Resources.Cashout.String26: <span class="secondary">P365 OTP @Resources.Cashout.String27 8100</span>&nbsp;@Resources.Cashout.String28</p>*@
        </div>

        <div class="card-button">
            <a href="javascript:;" onclick="cashout.BackStep(1);" class="btn btn-flat btn-primary uppercase waves-effect waves-primary"><i class="material-icons">chevron_left</i> @Resources.Cashout.String29</a>
            <a href="javascript:;" id="btConfirmStep2" onclick="cashout.ConfirmCashoutStep2(this);" class="btn btn-flat btn-primary uppercase waves-effect waves-primary">@Resources.Cashout.String18<i class="material-icons">chevron_right</i></a>
        </div>
    </div>
    </div>

    </div>
    </div>
    <div id="formCashoutRecent" class="col-md-5">
        <div class="card">
            <div class="card-title" style="padding-bottom: 15px; padding-top: 35px">
                @Resources.Cashout.String30
                <a href="@Html.Raw(Pay365.Utils.Config.Domain)lich-su-giao-dich" class="more waves-effect waves-primary"><i class="material-icons">keyboard_arrow_right</i></a>
            </div>
            <ul id="cashout_log_recent_t" class="collapsible-custom popout warning" data-collapse-number="1" data-collapsible="accordion"></ul>
            <script id="cashout_log_recent_tmpl" type="text/x-jquery-tmpl">
                {{each listBankRecent}}
                <li>
                    <div class="collapsible-header">
                        <div class="trans-head">
                            <div class="icon" style="line-height: initial;"><img src="@Html.Raw(Pay365.Utils.Config.Domain)Content/assets/images/icons/nap-tien.svg" alt=""></div>
                            <div class="info">
                                <p class="success"><strong>${utils.formatMoney($value.JsonObject.Amount)}<sup>VNĐ</sup></strong></p>
                                <p>${utils.formDateTime($value.JsonObject.CreateTime)}</p>
                            </div>
                            <div class="content">
                                <p>
                                    <strong>
                                        {{if ($value.JsonObject.ServiceID == 8)}}
                                        @Resources.Cashout.String34
                                        {{else}}
                                        @Resources.Cashout.String35
                                        {{/if}}
                                    </strong>
                                </p>
                                <p>@Resources.Cashout.String31: ${common.getbankName($value.JsonObject.BankCode)}</p>
                            </div>
                            <i class="material-icons up">keyboard_arrow_up</i>
                        </div>
                    </div>
                </li>
                {{/each}}
            </script>
        </div>
    </div>

    </div>
    </div>


    </section>
    </div>
    </main>
}

<script type="text/javascript">
    $(function () {
        cashout.GetListBankCashout();

        $('#cashout_offline_content #fast_cashout').on('click', 'a', function () {
            var $formid = $('#cashout_offline_content');
            var value = $(this).attr('data-amount');
            $formid.find('#cashout_amount').val(utils.formatMoney(value));
            $formid.find('#cashout_amount').removeClass('error').siblings('.error-text').text('');
            $formid.find('#cashout_amount').focus();
            cashout.CalculateTotalAmount('cashout_offline_content');
        });


        $('#cashout_online_content #fast_cashout').on('click', 'a', function () {
            var $formid = $('#cashout_online_content');
            var value = $(this).attr('data-amount');
            $formid.find('#cashout_amount').val(utils.formatMoney(value));
            $formid.find('#cashout_amount').removeClass('error').siblings('.error-text').text('');
            $formid.find('#cashout_amount').focus();
            cashout.CalculateTotalAmount('cashout_online_content');
        });

        $('#cashoutStep1').on('keyup', 'input', function (event) {
            if (!$("#cashoutStep1").is(":visible")) {
                return;
            }
            var keyCode = event.keyCode || event.which;
            if (keyCode === 13) {
                cashout.ConfirmCashout($('#btConfirmStep1'));
            }
            else
                $(this).removeClass('error success').parent().find('.error-text').text('');
        });

        $('#cashoutStep2').on('keyup', 'input', function (event) {
            if (!$("#cashoutStep2").is(":visible")) {
                return;
            }
            var keyCode = event.keyCode || event.which;
            if (keyCode === 13) {
                cashout.ConfirmCashoutStep2($('#btConfirmStep2'));
            }
            else
                $(this).removeClass('error success').parent().find('.error-text').text('');
        });

        $(document).on('change', 'input[type=radio][name=g_cashout_type]', function () {
            if (this.value === 'i_cashout_linkedbank') {
                topup.TopupBank_ByLinkCard('cashout');
            }
            else if (this.value === 'i_cashout_account')
                $('#cashout_online_content').find('#bank_account').siblings('label').text('@Html.Raw(Resources.Cashout.String33)');
            else
                $('#cashout_online_content').find('#bank_account').siblings('label').text('@Html.Raw(Resources.Cashout.String17)');
        });
    });
    function CharacterOnly(t) {
        if (!t.value) return;
        t.value = utils.convertUTFStr(t.value, ' ').trim();
    }
</script>